body {
  margin: 10px;
  font-variant: small-caps;
  text-transform: capitalize;
}
h1 {
  text-align: center;
  border-bottom: 1px solid blue;
  margin: 50px 150px;
}
.container {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px 40px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  transition-duration: 0.25s;
}
button:active {
  background-color: darkgrey;
}
button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

#moves {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#result {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  background-color: gold;
  width: 350px;
  grid-column: span 2;
}
